*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Noto Sans Arabic', sans-serif;
}
/* Global */
.container{
    width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.grid{
    display: grid;
}
.unList{
    list-style: none;
}
.width-100{
    width: 99%;
}
.height-100{
    height: 100%;
}
.width-85{
    width: 85%;
}
.width-50{
    width: 50%;
}
.height-50{
    height: 50%;
}
.width-75{
    width: 75%;
}
.width-70{
    width: 70%;
}
.width-30{
    width: 30%;
}
.width-25{
    width: 25%;
}
.width-20{
    width: 21%;
}
.text-align-center{
    text-align: center;
}
/* Navbar */
.navbar{
    width: 100%;
    height: 55px;
    box-shadow: 0 0 5px 5px #f1f1f1;
    position: sticky;
}
.navbar img{
    width: 35px;
}
.navbar .btn-slide{
    display: none !important;
    padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.navbar .btn-slide svg{
    line-height: 0;
}
.navbar .btn-slide:hover{
    background-color: #5953ae;
    color: #ffffff;
}
.navbar ul li a{
    text-decoration: none;
    margin-left: 18px;
    color: #131637;
}
.navbar ul li a.active{
    color: #5953ae;
}
.navbar ul li a:hover{
    color: #5953ae;
}
.navbar ul li a svg{
    font-size: 14px; 
}

/* Wrapper */
.wrapper{
    position: relative;
    background-color: #5953ae;
    height: calc(100vh - 55px);
    color: #f1f1f1;
    overflow: hidden;
}
.wrapper .container h2{
    font-size: 50px;
    line-height: 70px;
}
.wrapper .container p{
    font-size: 12px;
    margin: 10px 0;
}
.wrapper .container .items{
    grid-template-columns: repeat(3, 30%);
    grid-gap: 0 10px;
}
.wrapper .container .items div{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #131637;
    text-align: center;
}
.wrapper .container .items div svg{
    color: #5953ae;
    margin-bottom: 10px;
}
.wrapper .chevron{
    position: absolute;
    bottom: 30px;
    right: 50%;
}

/*  accepting  */
.accepting{
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #f2f2f2;
}
.accepting .container{
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
}
.accepting .container div:first-of-type{
    padding-left: 170px;
}
.accepting .container h2{
    font-size: 50px;
}
.accepting .container p{
    margin: 25px 0;
    line-height: 25px;
}
.accepting .container ol li{
    margin: 10px 0;
    font-size: 12px;
}
.courses{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.courses .sharp{
    width: 0;
    height: 0;
    border-top: 920px solid #f2f2f2;
    border-right: 1920px solid transparent;
}
.courses .container{
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
}
.courses .container div:last-of-type{
    padding-right: 100px;
    margin-top: -140px;
    padding-left: 100px;
}
.courses .container h2{
    font-size: 50px;
}
.courses .container p{
    margin: 25px 0;
    line-height: 25px;
}
.courses .container ol li{
    margin: 10px 0;
    font-size: 12px;
}

/* University */
.university{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.university .sharp{
    width: 0;
    height: 0;
    border-bottom: 650px solid #5953ae;
    border-right: 1345px solid transparent;
}
.university .container{
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
}
.university .container div:last-of-type{
    padding-right: 100px;
    margin-top: -140px;
    padding-left: 100px;
}
.university .container h2{
    font-size: 50px;
}
.university .container p{
    margin: 25px 0;
    line-height: 25px;
}
.university .container ol li{
    margin: 10px 0;
    font-size: 12px;
}

/* websites */
.websites{
    background-color: #5953ae;
    height: 100vh;
    color: #ffffff;
}
.websites .container div:last-of-type{
    padding-right: 100px;
    padding-left: 30px;
}
.websites .container h2{
    font-size: 50px;
}
.websites .container p{
    margin: 25px 0;
    line-height: 25px;
}
.websites .container li{
    background-color: #ffffff;
    width: 60%;
    color: #131637;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}
.websites .container li:nth-of-type(even){
    left: -40%;
    position: relative;
}

/* What Say */
.whatSay{
    background-color: #efc156;
    padding: 40px 0;
}
.whatSay .student-slider{
    margin-top: 80px;
}
.whatSay .student-slider .slide-item{
    background-color: #ffffff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    position: relative;
    width: 30%;
    border-radius: 5px;
}
.whatSay .student-slider .slide-item:nth-of-type(2){
    scale: 1.2;
}
.whatSay .student-slider .slide-item .img{
    position: absolute;
    width: 65px;
    height: 65px;
    top: -20%;
    right: 42%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffffff;
}
.whatSay .student-slider .slide-item small{
    color: #b3b3b3;
    font-size: 10px;
}
.whatSay .student-slider .slide-item p{
    font-size: 12px;
    line-height: 18px;
}

/* Subscribe */
.subscribe{
    padding: 30px 0;
    background-color: #f5f5f5;
}
.subscribe form input[type=text]{
    width: 100%;
    padding: 10px 15px;
    border-radius: 0;
    border: 2px solid #c7c7c7;
    border-left: none;
}
.subscribe form input[type=text]:focus{
    border: 1px solid #f2f2f2;
}
.subscribe form input[type=submit]{
    border: none;
    background-color: #5953ae;
    padding: 5px 50px;
    color: #ffffff;
    border-radius: 0;
    transition: all .2s ease-in-out;
}
.subscribe form input[type=submit]:hover{
    background-color: #47428d;
    transition: all .2s ease-in-out;
}
/* Footer */
.footer{
    background-color: #1c1919;
    padding: 50px 0;
    padding-bottom: 20px;
    color: #ffffff;
}
.footer .container .links ul li{
    margin-bottom: 5px;
    color: #ffffff;
}
.footer .container .links ul h4{
    margin-bottom: 15px;
    color: #ffffff;
}
.footer .container .links ul li a{
    color: #ffffff;
    text-decoration: none;
}
.footer .container .links ul li a:hover{
    text-decoration: underline;
}
.footer .copyright{
    margin-top: 10px;
}


@media (max-width: 767px){
    .navbar{
        position: relative;
    }
    .navbar .btn-slide{
        display: block !important;
    }
    .navbar ul{
        position: absolute;
        background-color: #ffffff;
        top: 55px;
        right: 0;
        z-index: 99999;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        display: none;
    }
    .navbar ul.active{
        display: flex;
    }
    .navbar ul li{
        width: 100%;
        padding: 5px 5%;
        border-bottom: 1px solid #f2f2f2;
    }

    /* wrapper */
    .wrapper{
        height: auto;
    }
    .wrapper .container > div:nth-of-type(1){
        width: 100%;
    }
    .wrapper .container > div:nth-of-type(1) .items{
        grid-template-columns: 1fr;
    }
    .wrapper .container > div:nth-of-type(1) .items div{
        margin-bottom: 10px;
    }
    .wrapper .container > div:nth-of-type(2){
        display: none;
    }
    .wrapper .chevron{
        display: none;
    }

    /* Accepting */
    .accepting{
        height: auto;
        background-color: #5953ae;
        padding-top: 50px;
    }
    .accepting .wave{
        display: none;
    }
    .accepting .container{
        align-items: start;
        flex-direction: column;
        position: static;
    }
    .accepting .container div:first-of-type,
    .accepting .container div:last-of-type{
        width: 100%;
        padding: 0;
    }

    /* Courses */
    .courses{
        height: auto;
    }
    .courses .sharp{
        background-color: #f2f2f2;
    }
    .courses .container{
        flex-direction: column-reverse;
        padding: 0;
    }
    .courses .container div:first-of-type,
    .courses .container div:last-of-type{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* courses */
    .courses{
        height: auto;
        background-color: #f2f2f2;
    }
    .courses .sharp{
        display: none;
    }
    .courses .container{
        position: static;

    }


    /* university */
    .university{
        height: auto;
    }
    .university .container{
        flex-direction: column;
        height: auto;
        position: static;
    }
    .university .sharp{
        display: none;
    }
    .university .container > div{
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }

    /* websites */
    .websites{
        height: auto;
    }
    .websites .container{
        flex-direction: column-reverse;
    }
    .websites .container .width-50{
        width: 100%;
        padding: 0 !important;
    }

    /* What Say */
    .whatSay .container .student-slider{
        flex-direction: column;
    }
    .whatSay .container .student-slider .slide-item{
        width: 100%;
        margin-bottom: 50px;
    }
    .whatSay .student-slider .slide-item:nth-of-type(2){
        scale: 1;
    }

    /* Subscribe */
    .subscribe .container{
        flex-wrap: wrap;
    }
    .subscribe .container h2{
        font-size: 16px;
        margin-bottom: 10px;

    }
    .subscribe .container form{
        width: 100%;
    }

    /* Footer */
    .footer .container{
        flex-wrap: wrap;
    }
    .footer .container .links{
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar{
        position: relative;
    }
    .navbar .btn-slide{
        display: block !important;
    }
    .navbar ul{
        position: absolute;
        background-color: #ffffff;
        top: 55px;
        right: 0;
        z-index: 99999;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        display: none;
    }
    .navbar ul.active{
        display: flex;
    }
    .navbar ul li{
        width: 100%;
        padding: 5px 5%;
        border-bottom: 1px solid #f2f2f2;
    }


    /* wrapper */
    .wrapper{
        height: calc(100vh - 55px);
    }
    .wrapper .container > div:nth-of-type(1){
        width: 100%;
    }
    .wrapper .container > div:nth-of-type(2){
        display: none;
    }
    .wrapper .container > div:nth-of-type(1) .items{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wrapper .container > div:nth-of-type(1) .items div{
        margin-bottom: 10px;
    }
    /* .wrapper .container > div:nth-of-type(2){
        display: none;
    } */
    /* .wrapper .chevron{
        display: none;
    } */

    /* Accepting */
    .accepting{
        height: 100vh;
        background-color: #5953ae;
        padding-top: 50px;
    }
    .accepting .wave{
        display: none;
    }
    .accepting .container{
        align-items: start;
        flex-direction: row-reverse;
        position: static;
    }
    .accepting .container div:first-of-type,
    .accepting .container div:last-of-type{
        width: 100%;
        margin: 0 15px;
    }

    /* Courses */
    .courses{
        height: 100vh;
    }
    .courses .sharp{
        background-color: #f2f2f2;
    }
    .courses .container{
        flex-direction: column-reverse;
        padding: 0;
    }
    .courses .container div:first-of-type,
    .courses .container div:last-of-type{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* courses */
    .courses{
        height: 100vh;
        background-color: #f2f2f2;
    }
    .courses .sharp{
        display: none;
    }
    .courses .container{
        position: static;
        flex-direction: row-reverse;
    }


    /* university */
    .university{
        height: 100vh;
    }
    .university .container{
        flex-direction: row-reverse;
        height: 100%;
        position: static;
    }
    .university .sharp{
        display: none;
    }
    .university .container > div{
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }

    /* websites */
    .websites{
        height: auto;
    }
    .websites .container{
        flex-direction: row-reverse;
    }
    .websites .container li:nth-of-type(even){
        left: -35%;
    }
    .websites .container .width-50{
        width: 100%;
        padding: 0 !important;
    }

    /* What Say */
    .whatSay .container .student-slider .img{
        right: 36%;
        top: -15%;
    }
    .whatSay .container .student-slider .slide-item{
        width: 30%;
        margin-bottom: 50px;
    }
    .whatSay .student-slider .slide-item:nth-of-type(2){
        scale: 1;
    }

    /* Subscribe */
    .subscribe .container{
        flex-wrap: wrap;
    }
    .subscribe .container h2{
        font-size: 16px;
        margin-bottom: 10px;

    }

}

@media (min-width: 992px){}