.head{
    background-color: #5953ae;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 50px;
}
.university-show .container .university-side{
    background-color: #f9f9f9;
    padding: 50px 20px;
}
.university-show .container .university-side form input[type=text]{
    width: 90%;
    border-radius: 0 50px 50px 0;
    border: none;
    padding: 10px 20px;
}
.university-show .container .university-side form input[type=submit]{
    width: 25%;
    border-radius: 50px 0 0 50px;
    border: none;
    background-color: #5953ae;
    color: #ffffff;
}
.university-show .container .university-side form input[type=submit]:hover{
    background-color: #474294;
}
.university-show .filter-group{
    margin: 20px 0;
}
.university-show .filter-group a{
    border: 1px solid #5953ae;
    text-decoration: none;
    padding: 5px 50px;
    border-radius: 50px;
    color: #5953ae;
    font-size: 12px;
}
.university-show .filter-group a.active{
    background-color: #5953ae;
    color: #ffffff;
}
.university-show .filter-group a:hover{
    background-color: #5953ae;
    color: #ffffff;
}
.university-show .filter-group li:last-of-type a{
    color: #5953ae;
    border: none;
}
.university-show .filter-group li:last-of-type a:hover{
    background-color: transparent;
    text-decoration: underline;
}
.university-show .university-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 0.25fr));
    grid-gap: 10px 20px;
    background-color: #f9f9f9;
}
.university-show .university-list .university-item{
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    border: 2px solid transparent;
}
.university-show .university-list .university-item h4{
    line-height: 5px;
}
.university-show .university-list .university-item.active{
    border: 2px solid #5953ae;
}
.university-show .university-list .university-item:hover{
    border: 2px solid #5953ae;
}
.university-show .university-list .university-item small{
    color: #d1d1d1;
    font-size: 12px;
}
.university-show .university-details{
    padding: 50px 20px;
    padding-bottom: 10px;
}
.university-show .university-details .uni-head{
    text-align: center;
}
.university-show .university-details .uni-head{
    text-align: center;
}
.university-show .university-details .uni-head h2{
    color: #5953ae;
    line-height: 18px;
}
.university-show .university-details .uni-head small{
    color: #d1d1d1;
}
.university-show .university-details p{
    color: #9b9b9b;
    font-size: 12px;
}
.university-show .university-details p span{
    color: #000000;
    font-size: 14px;
}
.university-show .university-details p:last-of-type span{
    display: block;
    margin-top: 25px;
}
.university-show .university-details p:first-of-type{
    margin-top: 25px;
}
.university-show .university-details .social-media{
    margin-top: 10px;
}
.university-show .university-details .social-media span{
    font-size: 12px;
    margin-left: 10px;
}
.university-show .university-details .social-media ul li{
    background-color: #f7f7f7;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
.university-show .university-details .social-media ul li:hover{
    background-color: #5953ae;
    transition: all .2s ease-in-out;
}
.university-show .university-details .social-media ul li:hover a{
    color: #ffffff;
    transition: all .2s ease-in-out;
}
.university-show .university-details .social-media ul li a{
    text-decoration: none;
    color: #5953ae;
}
.university-show .university-details .uni-link{
    margin-top: 25px;
}
.university-show .university-details .uni-link a{
    text-decoration: none;
    background-color: #5953ae;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
}
.university-show .university-details .uni-link a:hover{
    background-color: #474294;
}

@media (max-width: 767px){
    .university-show .container{
        flex-direction: column;
        width: 100%;
    }
    .university-show .container > div{
        width: 100%;
    }
    .university-show .container .university-list{
        grid-template-columns: repeat(2, minmax(150px, 0.5fr));
    }
    .university-show .filter-group ul{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .university-show .filter-group li{
        margin-bottom: 10px;
        width: auto;
        margin-left: 10px;
    }
    .university-show .filter-group li a{
        padding: 5px 10px;
        font-size: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .university-show .container{
        flex-direction: column;
        width: 100%;
    }
    .university-show .container > div{
        width: 100%;
    }
    .university-show .container .university-list{
        grid-template-columns: repeat(3, minmax(150px, 0.33fr));
    }
    .university-show .filter-group ul{
        flex-wrap: wrap;
    }
    .university-show .filter-group li{
        margin-bottom: 10px;
    }
}